/* .container{ */
    /* background-image: url("../../../public/raspberry-lace.gif")!important */
/* background-color: #FAD6DD;

    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    } */
.container{
    margin: 0 auto;
}