.links{
    display: inline-grid;
 
}
#contact{
    height:500px !important;
}
.link{
    margin-bottom: 15px;
    font-weight: 900;
}
.container{
    background-color: #F9F7F7;
}
.img-fluid{
    width: 40%;
    height: 40%;
    border-radius:250px;
    text-align: center;
}
.btn{
background-color: rgb(169,216,234);
color:black;
}
.bioparagraph{
    margin-top: 10%;
}
@media only screen and (min-width: 900px) {
    .container{
        height: 100%;
        margin-top: 50px;
        background-color: #F9F7F7;
        border-radius: 20px;
        overflow: auto;
      margin-bottom: 50px;
    }
        .technical{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10PX;
        
        
    }
    .mainportfolio{
        padding-top:50px;
        padding-bottom: 50px;
    }
    .skills{
        float: left;
        padding:20px;
    }
    .edu {
        content: "";
        clear: both;
        display: table;
      }
    .stack{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
    }
    .edu{
        width: fit-content;
    }
    .image{
        width: 70%;
    }
    .ftapp{
        float:right;
        width:60%;
        padding:20px;
    }
 
    .bio{
     margin:0 auto;
    }
    h1{
        margin-left:2%;
    }
  }